<!DOCTYPE html>
<html>
<head>
    {{> prereqs }}
    <link rel='stylesheet' href='/stylesheets/tradingTicket.css'/>
</head>
<body class="sandboxtwo">
  {{> header }}
  <div class="page-content tab">
    <h2>Trading Ticket</h2>
    <br>
    <div id="tradeInput">
      <div id="trading-tickets">
        <div id="trading-ticket-input1" class="form-group trading-ticket-form">
            <input class="hidden" id="accountNumber1" name="accountNumber" value={{data.accountNumber}}></input>
            <p class="title"><h4>Ticker Name: </h4></p><input class="form-control" id="orderSymbolSet1" name="orderSymbol" style="width: 15vw"></input>
            <p class="title"><h4>Order Quantity: </h4></p><input class="form-control" id="orderQuantitySet1" name="orderQuantity" type="number" style="width: 15vw"></input>
            <p class="title"><h4>Order Action: </h4></p>
            <select name="orderAction1" class="form-control">
                <option value="buy">buy</option>
                <option value="sell">sell</option>
            </select>
            <p class="title"><h4>Order Price Type: </h4></p>
            <select id="priceType1" name="orderPriceType1" class="form-control" data-trading-ticket-num="1">
                <option value="market">market</option>
                <option value="limit">limit</option>
            </select>

            <p class="title hidden limit1">Order Limit Price: </p>
            <input id="orderLimitPrice1" class="hidden form-control limit1" name="orderLimitPrice" type="number"></input>

            <p class="title"><h4>Order Expiration: </h4></p>
            <select name="orderExpiration1" class="form-control">
                <option value="day">day</option>
                <option value="gtc">gtc</option>
            </select>
            <br>
        </div>
      </div>
      <br>
      <button id="addMore" class="btn btn-primary">Add More</button>
      <button id="reviewOrder" class="btn btn-warning">Review Order</button>
    </div>

    <div class="hidden" id="reviewScreen">
        <span class="text-info">Review Screen:</span><br><br>
        <div id="review-block-1" class="review-blocks">
            <span id="orderSymbol1"></span><br>
            <span id="orderAction1"></span><br>
            <span id="orderQuantity1"></span><br>
            <span id="orderExpiration1"></span><br>
            <span id="orderPrice1"></span><br>
            <span id="orderValueLabel1"></span><br>
            <span id="orderMessage1"></span><br>
            <span id="timestamp1"></span><br>
            <span id="buyingPower1"></span><br>
            <span id="availableCash1"></span><br>
            <span id="estimatedOrderCommission1"></span>
        </div>
        <br>
        <button class="btn btn-danger" id="cancel">Cancel</button>
        <button class="btn btn-success" id="placeOrder">Place Order</button>

    </div>

    <div class="hidden" id="confirmationScreen">
      <span class="text-primary" style="font-size: large;">Confirmation Screen:</span>
      <br><br>
      <div id="confirmation-block-1" class="confirmation-blocks">
        <span style="font-size: large;" id="confirmationMessage1"></span><br><br>
        <span style="font-size: large;" id="orderNumber1"></span>
      </div>
      <br><br>
    </div>

    <form action="/authError" method="post" id="sessionExpired" class="hidden">
        <input id="shortMessage" name="shortMessage"></input>
        <input id="longMessage" name="longMessage"></input>
        <button class="buttons" id="sendErrorMgs"></button>
    </form>
    <br/>
    <form action="/tradingTicket" method="post" id="backToTT" class="hidden">
        <button class="btn btn-primary" id="goBkToTT">Make another Trade</button>
    </form>
    <br/>
    <form action="/portfolio" method="post" id="backToPortfolio" class="hidden" style="display: none;">
        <button class="buttons" id="goToPortfolio">View Portfolio</button>
    </form>
  </div>
  {{> footer }}
</body>

</html>
<script src="/javascripts/jquery-2.2.0.min.js"></script>
<script>

    $(function(){
        $('#reviewOrder').on('click', function(){
            getPreviewOrder();
        });

        $('#priceType1').on('change', function() {
            if ($(this).val() == 'limit') {
              $('.limit1').removeClass('hidden');
            }
            else if($(this).val() == 'market') {
              $('.limit1').addClass('hidden');
            }
        });

        $('#backToTT').on('click', function(){
            backToTradingTicket();
        });

        $('#goToPortfolio').on('click', function(){
            toPortfolio();
        });
    });

    var getPreviewOrder = function(){
      for (var i=1; i<=next; i+=1) {
        var postData = {};
        postData.token = "{{data.sessionToken}}";
        postData.orderSymbol = $('#orderSymbolSet'+i).val();
        postData.accountNumber = $('#accountNumber'+i).val();
        postData.orderQuantity = $('#orderQuantitySet'+i).val();
        postData.orderAction = $('select[name=orderAction'+i+']').val();
        postData.orderPriceType = $('select[name=orderPriceType'+i+']').val();
        postData.orderExpiration = $('select[name=orderExpiration'+i+']').val();
        if(postData.orderPriceType == "limit"){
            postData.orderLimitPrice = $('#orderLimitPrice'+i).val();
        }

        $.ajax({
            data: postData,
            dataType: "jsonp",
            method: "POST",
            url: "https://ems.qa.tradingticket.com/api/v1/order/previewStockOrEtfOrder",
            success: incrementSuccessReviews
        });
      }
    };

    var successReviewCount = 0;
    var dataArray = [];
    var incrementSuccessReviews = function(data) {
      if(data.status == "REVIEW_ORDER") {
        successReviewCount += 1;
        dataArray.push(data);
      } else if(data.status == "ERROR"){
        $('#shortMessage').val(data.shortMessage);
        $('#longMessage').val(data.longMessages[0]);
        $('#sendErrorMgs').click();
      }

      if (successReviewCount == next) {
        parseResult(dataArray);
      }
    };

    var parseResult = function(dataArray){
      console.log(dataArray);
      for (var j = 0; j < dataArray.length; j+=1) {
        if (j == 0) continue;
        
        var addto = "#review-block-"+j;
        var num = j+1;
        var newIn = '<div id="review-block-'+num+'" class="review-blocks"> <span id="orderSymbol'+num+'"></span><br> <span id="orderAction'+num+'"></span><br> <span id="orderQuantity'+num+'"></span><br> <span id="orderExpiration'+num+'"></span><br> <span id="orderPrice'+num+'"></span><br> <span id="orderValueLabel'+num+'"></span><br> <span id="orderMessage'+num+'"></span><br> <span id="timestamp'+num+'"></span><br> <span id="buyingPower'+num+'"></span><br> <span id="availableCash'+num+'"></span><br> <span id="estimatedOrderCommission'+num+'"></span> </div>';
        var newInput = $(newIn);
        $(addto).after(newInput); 
      }
      
      $('#reviewScreen').removeClass('hidden');
      $('#tradeInput').addClass('hidden');
      for (var i = 0; i < dataArray.length; i+=1) {
        var data = dataArray[i];
        var num = i+1;
        if(data.status == "REVIEW_ORDER"){
            if(data.orderDetails){
                $('#orderSymbol'+num).text("Order Symbol: " + data.orderDetails.orderSymbol);
                $('#orderAction'+num).text("Order Action: " + data.orderDetails.orderAction);
                $('#orderQuantity'+num).text("Order Quantity: " + data.orderDetails.orderQuantity);
                $('#orderExpiration'+num).text("Order Expiration: " + data.orderDetails.orderExpiration);
                $('#orderPrice'+num).text("Order Price: " + data.orderDetails.orderPrice);
                $('#orderValueLabel'+num).text("Order Value Label: " + data.orderDetails.orderValueLabel);
                $('#orderMessage'+num).text("Order Message: " + data.orderDetails.orderMessage);
                $('#timestamp'+num).text("Timestamp: " + data.orderDetails.timestamp);
                $('#buyingPower'+num).text("Buying Power: " + data.orderDetails.buyingPower);
                $('#availableCash'+num).text("Available Cash: " + data.orderDetails.availableCash);
                $('#estimatedOrderCommission'+num).text("Estimated Order Commission: " + data.orderDetails.estimatedOrderCommission);
            }
            if(data.warningsList[0]){
                $('#review-block-'+num).append("<p>warningMessage: " + data.warningsList[0] + "</p>");
            }
        }
      }

      $('#cancel').on('click', function(){
          $('#tradeInput').removeClass('hidden');
          $('#reviewScreen').addClass('hidden');
      });

      $('#placeOrder').on('click', function(){
          $('#placeOrder').addClass("disabled");
          for (var i = 0; i < dataArray.length; i+=1) {
            var data = dataArray[i];
            placeOrder(data.token, data.orderId)
          }
      });
    };

    var placeOrder = function(sessionToken, orderId){
        $.ajax({
            data: {orderId: orderId, token: sessionToken},
            dataType: "jsonp",
            method: "POST",
            url: "https://ems.qa.tradingticket.com/api/v1/order/placeStockOrEtfOrder",
            success: incrementSuccessOrdersPlaced
        });
    };

    var orderSuccessCount = 0;
    var orderDataArray = [];
    var incrementSuccessOrdersPlaced = function(data) {
      console.log('Ash');
      if(data.status == 'SUCCESS') {
        orderDataArray.push(data);
        orderSuccessCount += 1;
        console.log(orderDataArray);
      } else if(data.status == 'ERROR') {
        $('#shortMessage').val(data.shortMessage);
        $('#longMessage').val(data.longMessages[0]);
        $('#sendErrorMgs').click();
      }

      if (orderSuccessCount == next) {
        orderPlaced(orderDataArray);
      }
    };

    var orderPlaced = function(orderDataArray){
      for (var j = 0; j < orderDataArray.length; j+=1) {
        if (j == 0) continue;
        
        var addto = "#confirmation-block-"+j;
        var num = j+1;
        var newIn = '<div id="confirmation-block-'+num+'" class="confirmation-blocks"> <span style="font-size: large;" id="confirmationMessage'+num+'"></span><br><br> <span style="font-size: large;" id="orderNumber'+num+'"></span> </div>';
        var newInput = $(newIn);
        $(addto).after(newInput); 
      }

      $('#reviewScreen').addClass('hidden');
      $('#confirmationScreen').removeClass('hidden');
      $('#backToTT').removeClass('hidden');
      $('#backToPortfolio').removeClass('hidden');
      
      for (var i = 0; i < orderDataArray.length; i+=1) {
        var data = orderDataArray[i];
        var num = i+1;
        if(data.status == 'SUCCESS'){
            $('#confirmationMessage'+num).text(data.confirmationMessage);
            $('#orderNumber'+num).text("orderNumber: " + data.orderNumber);
        }
      }
    }

    var backToTradingTicket = function(){
        $('#backToTT').append("<input class='hidden' name='accountNumber' value=" + "{{data.accountNumber}}" + "></input>");
        $('#backToTT').append("<input class='hidden' name='sessionToken' value=" + "{{data.sessionToken}}" + "></input>");
    };

    var toPortfolio = function(){
        $('#backToPortfolio').append("<input class='hidden' name='account' value=" + "{{data.accountNumber}}" + "></input>");
        $('#backToPortfolio').append("<input class='hidden' name='sessionToken' value=" + "{{data.sessionToken}}" + "></input>");
    };

    var next = 1;
		$("#addMore").click(function(e){
        e.preventDefault();
        var addto = "#trading-ticket-input"+next;
        next = next + 1;
      var newIn = '<div id="trading-ticket-input'+next+'" class="form-group trading-ticket-form"> <input class="hidden" id="accountNumber'+next+'" name="accountNumber" value={{data.accountNumber}}></input> <p class="title"><h4>Ticker Name: </h4></p><input class="form-control" id="orderSymbolSet'+next+'" name="orderSymbol" style="width: 15vw"></input> <p class="title"><h4>Order Quantity: </h4></p><input class="form-control" id="orderQuantitySet'+next+'" name="orderQuantity" type="number" style="width: 15vw"></input> <p class="title"><h4>Order Action: </h4></p> <select name="orderAction'+next+'" class="form-control"> <option value="buy">buy</option> <option value="sell">sell</option> </select> <p class="title"><h4>Order Price Type: </h4></p> <select id="priceType'+next+'" name="orderPriceType'+next+'" class="form-control" data-trading-ticket-num="'+next+'"> <option value="market">market</option> <option value="limit">limit</option> </select> <p class="title hidden limit'+next+'">Order Limit Price: </p> <input id="orderLimitPrice'+next+'" class="hidden form-control limit'+next+'" name="orderLimitPrice" type="number"></input> <p class="title"><h4>Order Expiration: </h4></p> <select name="orderExpiration'+next+'" class="form-control"> <option value="day">day</option> <option value="gtc">gtc</option> </select> <br> </div>'
        var newInput = $(newIn);
        $(addto).after(newInput);
        
        $('#priceType'+next).on('change', function() {
            var num = $(this).data("trading-ticket-num");
            if ($(this).val() == 'limit') {
              $('.limit'+num).removeClass('hidden');
            }
            else if($(this).val() == 'market') {
              $('.limit'+num).addClass('hidden');
            }
        });
    });
 

</script>
